In [213]:
#Dependencies 
import pandas as pd
import numpy as np

In [2]:
#import csv
file = "Resources/purchase_data.csv"
df = pd.read_csv(file)
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
#Total Players; Using value count function
total_players = [{"Total Players": len(df["SN"].value_counts())}]

#len(total_players)

#print(f"Total Players: {len(total_players)}")
      
#576 total players, matches example amount

#Convert to DF

total_players_df = pd.DataFrame(total_players)
total_players_df

   Total Players
0            576

In [4]:
#Purchasing Analysis

#Number of unique items; value count function for 'Item Name' or 'Item ID' - 1:1 Relationship?
#len(df["Item ID"].value_counts()) - Commented out after verifying accuracy
#179, matches example amount

#Average Price; Mean of 'Price'
#df["Price"].mean() - Commented out after verifying accuracy
#$3.05, matches example amount

#Cleaner data formatting (OPTIONAL)
#***

#Number of Purchases
#print(len(df["Purchase ID"].value_counts())) - Commented out after verifying accuracy
#780, matches example amount

#Total Revenue 
#df["Price"].sum() - Commented out after verifying accuracy
#$2379.77, matches example amount

#list of items?*** or DF? List to DF.

Purchasing_Analysis = pd.DataFrame([{"Number of Unique Items": len(df["Item ID"].value_counts()),"Average Price": df["Price"].mean(), "Number of Purchases":len(df["Purchase ID"].value_counts()), "Total Revenue": df["Price"].sum()}])

#Purchasing_Analysis_2 = pd.DataFrame([{"Average Price": df["Price"].mean()}])
                                    
                                    #{"Average Price": f"${df["Price"].mean()"}])

                                    
                                    #,{"Average Price": f"$"{df["Price"].mean()},{"Number of Purchases": len(df["Purchase ID"].value_counts())},{"Total Revenue": df["Price"].sum())}])




Purchasing_Analysis
#Purchasing_Analysis_2

#df.describe()



#Redo with variables in Purchasing DF ***

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [5]:
#Test cycle for round, wrap and dollar sign
#a = pd.DataFrame([{"a": round(1.1234, 2), 
#                  "b":2, 
#                  "c":3, 
#                  "d":4}])
#print(a)

#e = 10202.02
#print(type(e))

#print("${:,.2f}".format(e))

In [19]:
#Gender Demographics
#Percentage and Count of Male Players
#Percentage and Count of Female Players
#Percentage and Count of Other/Non-Disclosed

#Notes

#Take DF and isolate "Total Count" and "Percentage" Series
#df.loc(df["Total Count"] == "Male").value_counts(), GroupBy?
#Dictionary of Lists? Better way to quickly summarize data/ build tables
#loc, iloc
#print(df["Gender"].loc[df["Gender"] == "Male"].sum())
#and df["Gender"] != "Female"])
#print(df.loc[df["Gender"] != "Female"])
#df.count()
#780 total, filter out by name - some users purchased multiple times
#df["SN"].value_counts()
#unique?
#df.unique.loc[df["SN"] == "Male" and df["SN"] != "Female"]
#df_2 = pd.DataFrame(df["SN"].unique())
#df_2.loc[df_2["Gender"] == "Male"]
#Unique creates object? Need to use function?
#df_2.value_counts()
#DF_Others
#Unique then groupby Gender
#Unique SN, Unique returns Series, agg() returns DF?
#df_unique = df["SN"].unique()
#len(df_unique)
#len(df_unique["Gender"] == "Other")
#Dice up DF into by Gender for Demographics and Analysis 
#df_female = pd.DataFrame(df["Gender"] == "Female", df["SN"].unique())
#df_female
#groupby, unique 

#df["SN Gender"] = df["SN"] + "-" + df["Gender"]
#df["SN Gender"].value_counts()

#df_female = df.loc[(df["SN Gender"] = "Female")]
#df_female.value_counts()
#groups = df.groupby("gender")
#groups["SN"].count()
#df["SN Gender"].unique().value_counts()
#male_avg = 2
#female_avg = 3
#other_avg = 4
#male_per = 7
#female_per = 8
#other_per = 9
#Then Break Down Gender Totals
#Gender_Demographics = pd.DataFrame({"": ["Male", "Female", "Other/ Non-Disclosed"],  
                              #       "Total Count": [male_avg, female_avg, other_avg],
                              #      "Percentage of Players": [male_per, female_per, other_per]})

#Gender_Demographics = pd.Gender_Demographics.reset_index()
#Gender_Demographics

In [106]:
#Gender Demographics
#Percentage and Count of Male Players
#Percentage and Count of Female Players
#Percentage and Count of Other/Non-Disclosed

df_male = df.loc[df["Gender"] == "Male", :] 
#print(df_male)

df_female = df.loc[df["Gender"] == "Female", :]
#print(df_female)

df_other = df.loc[df["Gender"] == "Other / Non-Disclosed", :]
#print(df_other)

#print(len(df_male["SN"].unique()))
#print(len(df_female["SN"].unique()))
#print(len(df_other["SN"].unique()))

gender_total = len(df_male["SN"].unique()) + len(df_female["SN"].unique()) + len(df_other["SN"].unique())

male_per = "{:.2%}".format(len(df_male["SN"].unique()) / gender_total)
female_per = "{:.2%}".format(len(df_female["SN"].unique()) / gender_total)
other_per = "{:.2%}".format(len(df_other["SN"].unique()) / gender_total)

Gender_Demographics_df = pd.DataFrame({"": ["Male", "Female", "Other / Non-Disclosed"],
                                       "Total Count": [len(df_male["SN"].unique()), len(df_female["SN"].unique()), len(df_other["SN"].unique())],
                                       "Percentage of Players": [male_per, female_per, other_per]})

Gender_Demographics_df

                          Total Count Percentage of Players
0                   Male          484                84.03%
1                 Female           81                14.06%
2  Other / Non-Disclosed           11                 1.91%

In [134]:
#Purchasing Analysis (Gender)
#Purchase Count, Average Purchase Price, Total Purchase Value, Avg Total Purchase per Person

f_pc = df_female["Price"].count()
#print(f_pc)
m_pc = df_male["Price"].count()
#print(m_pc)
o_pc = df_other["Price"].count()
#print(o_pc)

f_t = df_female["Price"].sum()
#print(f_t)
m_t = df_male["Price"].sum()
#print(m_t)
o_t = df_other["Price"].sum()
#print(o_t)

f_a = f_t / f_pc
#print(f_a)
m_a = m_t / m_pc
#print(m_a)
o_a = o_t / o_pc
#print(o_a)

f_app = f_t / len(df_female["SN"].unique())
#print(f_app)
m_app = m_t / len(df_male["SN"].unique())
#print(m_app)
o_app = o_t / len(df_other["SN"].unique())
#print(o_app)


Purchasing_Analysis_df = pd.DataFrame({"": ["Female", "Male", "Other / Non-Disclosed"],                                      
                                       "Purchase Count": [f_pc, m_pc, o_pc],
                                      "Average Purchase Price": [f_a, m_a, o_a],
                                      "Total Purchase Value": [f_t, m_t, o_t],
                                      "Avg Total Purchase per Person": [f_app, m_app, o_app]})

Purchasing_Analysis_df

#f_pc.shape

#Remember to round and reformat for dollars

,,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,Female,113,3.203009,361.94,4.468395
1,Male,652,3.017853,1967.64,4.065372
2,Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [237]:
#Age Demographics
#Bins
#Total Count, Percentage of Players

#unique_age = pd.DataFrame([{"Age":[df["Age"].unique()]}])

#nine = df["Age"].groupby(pd.cut(df["Age"], np.arange(0,10,9))).count()
#fourteen = df["Age"].groupby(pd.cut(df["Age"], np.arange(10,15,4))).count()


#print(int(nine))







#ranges = [0,10,15,20,25,30,35,40,200]
#df.groupby(pd.cut(df["Age"], ranges)).count
df.groupby("Age").count()["Price"]

#df.iloc[df["Age"] < 10]
#bins = pd.IntervalIndex.from_tuples([(0,9), (10, 14), (15-19), (20,24), (25,29),(30,34),(35,39),(40,200)])

Age
7      9
8      8
9      6
10     9
11     7
12     6
13     4
14     2
15    35
16    30
17    22
18    26
19    23
20    99
21    62
22    70
23    67
24    67
25    59
26    14
27    10
28     5
29    13
30    35
31     7
32     8
33    14
34     9
35    14
36     5
37     7
38     9
39     6
40     6
41     2
42     1
43     1
44     2
45     1
Name: Price, dtype: int64

In [ ]:
#Purchasing Analysis (Age)

In [66]:
#Top Spenders
#SN, Purchase Count, Average Purchase Price, Total Purchase Value
#How to give cleaner formatting?

#Lists
#Purchase Count
s_count = df.groupby(["SN"]).count()["Price"]
#print(s_count)
#Total Purchase Value
s_tot = df.groupby(["SN"]).sum()["Price"]
#print(s_tot)
#Average Purchase Price
s_avg = df.groupby(["SN"]).mean()["Price"]
#print(s_avg)

#List of every spender ,,, Need to drop columns? Len, Shape
#df_2 = pd.DataFrame({"SN": df["SN"]})
#spender = df_2.groupby(["SN"]).count()
#print(spender)
#df_2.shape, one column ok ... (780, 1) ... precounting
#df_2.describe()
#s_count.dtype, int
#s_tot.dtype, float
#s_avg.dtype, float
#spender.dtype - problem with spender
#spender




#Top DF
spenders_df = pd.DataFrame({"Purchase Count": s_count,
                            "Average Purchase Price": s_avg,
                            "Total Purchase Value": s_tot})
spenders_df = spenders_df.sort_values("Total Purchase Value", ascending = False)

spenders_df.head()

#Covert to dollars and Round

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

In [194]:
#Most Popular Items
#Item ID, Item Name
#Purchase Count
#Item Price
#Total Purchase Value ; Count * Price, Sum Unique?

#DF Join first?

popular_df = df[["Item Name", "Item ID", "Price"]]


pop_count = df.groupby(["Item Name"]).count()["Price"]
pop_sum = df.groupby(["Item Name"]).sum()["Price"]
#print(pop_count)
#print(pop_sum)

#Item Name, Count, Sum/Total ... Need Item ID and Item Price, how to link dependencies?
#Merge or join based on similar values? 


popular_df = pd.DataFrame({"Purchase Count":pop_count, "Total Purchase Value":pop_sum})

popular_df = popular_df.sort_values("Purchase Count", ascending = False)

#popular_2_df = df[["Item Name", "Item ID", "Price"]]

#popular_final_df = pd.merge(popular_df, popular_2_df, on="Item Name")

#popular_final_df.head()

popular_df.head()

,Purchase Count,Total Purchase Value
Item Name,,
Final Critic,13,59.99
"Oathbreaker, Last Hope of the Breaking Storm",12,50.76
Persuasion,9,28.99
Nirvana,9,44.10
"Extraction, Quickblade Of Trembling Hands",9,31.77

In [195]:
#Most Profitable Items
popular_df = popular_df.sort_values("Total Purchase Value", ascending = False)

popular_df.head()

,Purchase Count,Total Purchase Value
Item Name,,
Final Critic,13,59.99
"Oathbreaker, Last Hope of the Breaking Storm",12,50.76
Nirvana,9,44.10
Fiery Glass Crusader,9,41.22
Singed Scalpel,8,34.80